<!DOCTYPE html5>
<html lang="en">
    <head>
        <title>To do list by Marek</title>
        <meta charset="utf-8">
        <meta name="author" content="Marek Beneš">
        <meta name="description" content="Simple to do list that will help you somewhat organize yourself. Maybe.">
        <link rel="stylesheet" type="text/css" href="main.css">    
    </head>
        <video-bg ng-app="myApp" video-id="ZXsQAXx_ao0"></video-bg>
        <h1>To do Liszt!</h1>
    <body ng-app="myApe" ng-controller="todoList">
        <h2>My Todo List</h2>

        <form ng-submit="todoAdd()">
            <input type="text" ng-model="todoInput" size="50" placeholder="Do some shit">
            <input type="submit" value="Get yo ass up">
        </form>

        <br>

        <div ng-repeat="x in todoList">
            <input type="checkbox" ng-model="x.done"> <span ng-bind="x.todoText"></span>
        </div>

        <p><button ng-click="remove()">done man</button></p>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="app.js"></script>  
        <script src="kanzelm3-angular-video-bg-92a8e93/angular-video-bg.js"></script>
    </body>    
</html>